html{
    width: 100%;
}

html p{
    margin: 0;
}

body{
    background-color: #11373f;
}

.bg{
    width: 100%;
}

.toTop-arrow {
	width: 3.5rem;
	height: 3.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 31px;
	height: 7px;
	border-radius: 3px;
	background: white;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.4rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.4rem;
}
.toTop-arrow:focus {outline: none;}

.fa-search:hover{
    color: #11373f;
}

#Icon1{
    color: white;
}

#Icon2{
    color: white;
}

#Icon3{
    color: white;
}

#Icon4{
    color: white;
}

#Icon1:hover{
    color: #00aeff;
}

#Icon2:hover{
    color: rgb(240, 68, 134);
}

#Icon3:hover{
    color: rgb(0, 110, 255);
}

#Icon4:hover{
    color: rgb(255, 0, 0);
}

p{
    font-size: 20px;
    font-family: simsun;
}

.nav-item a{
    line-height: 2;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: simsun;
}

 .nav-item a:hover{
    /* border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white; */
    background-color: white;
    color: #206a79;
 }

 img{
    border-radius: 20px;
 }

.main-title{ 
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
    font-family: Microsoft JhengHei;
}

.button{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #134F5C;
    border-radius: 35px;
    margin: 2%;
    width: 20%;
    color: #ffffff;
    font-family: monotype corsiva;
}

.link{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    height: 33%;
    display: flex;
    transform: translate(-10%, -50%);
    font-family: Microsoft JhengHei;
}

.link .text{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    background-color: hsla(0, 0%, 100%, 0.8);
    color: #000000;
}

.link .button{
    height: 100%;
    width: 15%;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(19, 79, 92, 0.6);
    color: #ffffff;
}

.foot_about li{
    list-style-type: none;
    padding-left: 10%;
}

.foot_about li a{
    font-family: simsun;
    color: white;
    font-size: 20px;
}

.foot_about li a:hover{
    border-left: 5px solid white;
}

.foot_about h5{
    font-size: 40px;
    color: white;
    padding-left: 10%;
}

.foot_product li{
    list-style-type: none;
    padding-left: 10%;
}

.foot_product li a{
    font-family: simsun;
    color: white;
    font-size: 20px;
}

.foot_product li a:hover{
    border-left: 5px solid white;
}

.foot_product h5{
    font-size: 40px;
    color: white;
    padding-left: 10%;
}

.foot_recipes li{
    list-style-type: none;
    padding-left: 10%;
}

.foot_recipes li a{
    font-family: simsun;
    color: white;
    font-size: 20px;
}

.foot_recipes li a:hover{
    border-left: 5px solid white;
}

.foot_recipes h5{
    font-size: 40px;
    color: white;
    padding-left: 10%;
}

.foot_copyright small{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}