html{
	width: 100%;
	margin: auto;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 16px;
}

img{
	height: auto;
	max-width: 100%;
}

@media (min-width: 992px) {
	/*nav選單*/
		.leftmargin{
			margin-left: 28px;
		}
		.navbar-brand{
			margin-left: 50px;
		}
		.product_order{
			font-size: 10px;
		}
	}

@media (min-width: 768px) {
	/*nav選單*/
		.navbar{
		padding-left:50px!important;
		padding-right:50px!important; 
		}
		.product_order{
			font-size: 10px;
		}
	}

.title{
	margin: 30px;
}


.product_order{
	font-size: 36px;
	padding-left: 10px;
	padding-right: 10px;	
}

.product {
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;	
    border-bottom: 1px solid black;
}

#orderlist{
	z-index: 9999999;
	/* margin:auto;
	display: none;
	
	position: fixed;
	top: 10%;	
	left: 30%;  */
	position: relative;;
	width: 100%;
}

#orderlist p {
 text-align:center;   
}













