html{
	width: 100%;
	margin: auto;
}

* {
	box-sizing: border-box;
}

p {
	font-size: 16px;
}

img{
	height: auto;
	max-width: 100%;
}

@media (min-width: 992px) {
	/*nav選單*/
		.leftmargin{
			margin-left: 28px;
		}
		.navbar-brand{
			margin-left: 50px;
		}
		.product_order{
			font-size: 10px;
		}
	}

@media (min-width: 768px) {
	/*nav選單*/
		.navbar{
		padding-left:50px!important;
		padding-right:50px!important; 
		}
		.product_order{
			font-size: 10px;
		}
	}

.title{
	margin: 30px;
}

.product_order{
	font-size: 25px;
}

.product {
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;	
    border-bottom: 1px solid black;
}

#orderlist{
	z-index: 2;
    display: none;
    position: fixed;
    left: 30%;
    bottom: 10%;
    -moz-box-shadow: -2px 3px 25px #a9a9a9;
    -webkit-box-shadow: -2px 3px 25px #a9a9a9;
    box-shadow: -2px 3px 25px #a9a9a9;
}

#orderlist p {
 text-align:center;   
}


.cross{ /* 浮動視窗的叉叉鍵 */
    background-color: #ffffff;
    margin:0px;
    cursor: pointer;
}

.cross:hover{ /* 滑鼠移到叉叉鍵的效果 */
    background-color: #dcdcdc;
}