html{
    width: 100%;
}

html p{
    margin: 0;
}

body{
    background-color: #D0C8CA;
    font-family: "Microsoft JhengHei" !important;
}

.bg{
    width: 100%;
}

.head{
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
}

.fa-search:hover{
    color: #11373f;
}

#Icon1{
    color: white;
}

#Icon2{
    color: white;
}

#Icon3{
    color: white;
}

#Icon4{
    color: white;
}

#Icon1:hover{
    color: #00aeff;
}

#Icon2:hover{
    color: rgb(240, 68, 134);
}

#Icon3:hover{
    color: rgb(0, 110, 255);
}

#Icon4:hover{
    color: rgb(128, 128, 128);
}

.nav-item a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: simsun;
 }

 .nav-item a:hover{
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
 }

.main-title{ 
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
}

.button{
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #134F5C;
    border-radius: 35px;
    margin: 2%;
    width: 20%;
    color: #ffffff;
}

.link{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 40%;
    height: 33%;
    display: flex;
    transform: translate(-10%, -50%);
}

.link .text{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: 600;
    background-color: hsla(0, 0%, 100%, 0.8);
    color: #000000;
}

.link .button{
    height: 100%;
    width: 15%;    
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgba(19, 79, 92, 0.6);
    color: #ffffff;
}

footer p{
    display: flex;
    width:auto;
    background-color: #274e13;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}